<h1>What is Jack?</h1>
<p>
	Jack is a Javascript MVC development toolkit based on jQuery and Underscore.js. It allows you to write Javascript
	applications using MVC structure.
</p>
<h1>What does Jack stands for?</h1>
<p>
	Jack is stands for <b>J</b>avascript <b>A</b>pplication <b>C</b>oding <b>K</b>it
</p>
<h1>How it's running?</h1>
<p>
	<div class="left">
		<ul>
			<li>Lightweight</li>
			<li>jQuery based</li>
		</ul>
	</div>
	<div class="right">
		<img src="img/sketch.png" alt="sketch" style="width: 400px;" />
	</div>
	<div style="clear:both;"></div>
</p>